/*#region reset*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*#endregion reset*/

/*#region all style */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
}
img {
  display: block;
  width: 100%;
}
h2,
h3 {
  color: #2e2f42;
}

.wrap {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  padding: 0 16px;
  margin: auto;
  max-width: 320px;
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media only screen and (min-width: 1168px) {
  .container {
    max-width: 1168px;
  }
}

/*text*/
.text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*selector*/
.selector {
  padding: 96px 0;
}
@media only screen and (min-width: 1168px) {
  .selector {
    padding: 120px 0;
  }
}
.btn {
  margin: auto;
  border-radius: 4px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover {
  background-color: #404bbf;
}

.hover {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hover:hover {
  color: #4d5ae5;
}
/*#endregion all style*/

/*#region header */
.header {
}

.header-logo-wrap {
  border-bottom: 1px solid #e7e9fc;

  align-items: center;
  display: flex;
}
@media only screen and (min-width: 768px) {
  .header-logo-wrap {
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1168px) {
  .header-logo-wrap {
    gap: 72px;
  }
}

.header-logo {
  padding: 16px 0;
  font-family: "Raleway", sans-serif;
  margin-right: auto;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
@media only screen and (min-width: 768px) {
  .header-logo {
    margin: 0;
  }
}

.header-logo-text {
  color: #2e2f42;
}

@media only screen and (min-width: 768px) {
  .button-burger {
    display: none;
  }
}
.button-burger-icon {
}

.header-nav-item {
  position: relative;
}

.header-nav-list {
  display: none;
}
@media only screen and (min-width: 768px) {
  .header-nav-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    gap: 12px;
    display: flex;
  }
}

@media only screen and (min-width: 768px) {
  .header-nav-link {
    padding: 16px 0;
  }
}
.header-nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -50%;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #404bbf;
  transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: left;
}
.header-nav-link:hover::after {
  transform: scaleX(1);
}
.nav-address {
  display: none;
}

@media only screen and (min-width: 768px) {
  .nav-address {
    flex-direction: column;
    display: flex;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
@media only screen and (min-width: 1168px) {
   .nav-address{
        flex-direction: row;
        margin-left: auto;
        gap: 40px;

   }
    
  
}
.nav-address-mail {
}

.nav-address-tel {
}

/*#endregion header*/

/*#region main */
.main {
  flex-grow: 1;
}

/*#region hero*/
.hero {
  margin: auto;
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero/hero-@x1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 72px 52px;
  min-width: 320px;
}

@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/Dark-bg_mobil@x2.jpg");
  }
}
@media only screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    padding: 116px 136px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/Dark-bg_tablet@1x.jpg");
  }
}
@media (min-width: 768px) and (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/Dark-bg_tablet@2x.jpg");
  }
}
@media only screen and (min-width: 1168px) {
  .hero {
    max-width: 1440px;
    padding: 188px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/people-office\ 1_desktop@1x.jpg");
  }
}
@media (min-width: 1168px) and (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/people-office\ 1_desktop@2x.jpg");
  }
}

.hero-tittel {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .hero-tittel {
    margin-bottom: 48px;
  }
}
.hero-tittel-text {
  display: block;
}
.hero-btn {
  display: block;
}

/*#endregion hero */
/*#region feature*/
.feature {
}

.hidden {
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
}

.feature-item {
}
@media only screen and (min-width: 768px) {
  .feature-item {
    width: calc((100% - 3 * 24px) / 2);
  }
}
@media only screen and (min-width: 1168px) {
  .feature-item {
    width: calc((100% - 3 * 24px) / 4);
  }
}
.feature-wrap {
  display: none;
}

@media only screen and (min-width: 1168px) {
  .feature-icon {
  }
  .feature-wrap {
    margin-bottom: 8px;
    background: #f4f4fd;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
  }

  .feature-icon {
  }
}
.feature-subtitel {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
@media only screen and (min-width: 768px) {
  .feature-subtitel {
    text-align: left;
  }
}
@media only screen and (min-width: 1168px) {
  .feature-subtitel {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
  }
}

.feature-text {
}

/*#endregion feature*/
/*#region team*/
.team {
  background: #f4f4fd;
}

.team-titel {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;

  padding: 32px 16px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
  justify-content: center;
}
.team-item {
  border-radius: 0 0 4px 4px;
  width: 264px;
  height: 428px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.team-subtitel {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-text {
}

.team-social-list {
  display: flex;
  gap: 24px;
}

.team-social-item {
}

.team-social-link {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-link:hover {
  background-color: #404bbf;
}

.team-social-icons {
}

/*#endregion team*/
/*#region porfolio*/
.portfolio {
}

.portfolio-tittel {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
  justify-content: center;
}
@media only screen and (min-width: 1168px) {
  .portfolio-list{
    gap: 40px 24px;
  } 
    

}

.portfolio-picture {
  display: block;
  min-width: 288px;
  max-width: 356px;
}

.portfolio-item {
  min-width: 264px;
  max-width: 356px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width:768px) {
  .portfolio-item{
  
  width: calc((100% - 2 * 24px) / 1);
  } 
    
  
}
@media only screen and (min-width:1168px) {
  .portfolio-item{
  width: calc((100% - 3 * 24px) / 2);

  } 
    
  
}
.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.portfolio-overley {
  overflow: hidden;
  position: relative;
}

.portfolio-overley-text {
  padding: 40px 32px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  opacity: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-overley:hover .portfolio-overley-text {
  opacity: 1;
  transform: translateY(0);
}

.portfolio-contet {
  padding: 32px 16px;
}

.portfolio-subtittel {
}

.portfolio-text {
}

/*#endregion portfolio*/
/*#endregion main*/
/*#region footer*/
.footer {
  background: #2e2f42;
}
.footer-logo-wrap {
  width: 288px;
  height: 112px;
}
.footer-wrap {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 72px;
}

.footer-logo {
  color: white;
  margin-bottom: 16px;
}
.footer-logo-text {
  margin-top: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-social {
}
.footer-logo-link {
  width: 40px;
  height: 40px;
}
.footer-social-text {
  margin-bottom: 16px;
  color: #e7e9fc;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-item {
}
.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #4d5ae5;
  width: 40px;
  height: 40px;
  transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover {

  background-color: #31d0aa;
}
.footer-social-icons {
}

.footer-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-form-text {

}

.footer-form-input {
  color: #fff;
  padding: 8px 16px;
  border: 1px solid white;
  background-color: #2e2f42;
  border-radius: 4px;
  width: 288px;
  outline: none;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  opacity: 0.3;
}
.footer-form-input:focus {
  color: white;
  opacity: 1;
  border: 1px solid #4d5ae5;
}

.footer-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  position: relative;
  font-weight: 500;
  color: #fff;
  line-height: 1.5;
  background: #4d5ae5;
  border-radius: 4px;
  padding-block: 8px;
  width: 165px;
  height: 40px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form-btn:hover{

  background-color: #404bbf;

}

.footer-form-btn-icon {
}

/*#endregion footer*/
/*#region menu-burger*/
.menu {
  opacity: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  z-index: 111111;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  top: 0;
  left:0;
  padding: 72px 24px 40px 16px;
}

@media only screen and (min-width: 768px) {
   .menu{
    display: none;
    
  }
}

.menu-list {
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;

}


.menu-item-link {
    font-weight: 700;
      font-size: 36px;
      line-height: 1.11111;
      letter-spacing: 0.02em;
}
.menu-address-link:focus,
.menu-item-link:focus{
  color: #404bbf;
}

.menu-address {
  font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
      display: flex;
        flex-direction: column;
        gap: 24px;
        margin-bottom: 48px;
}

.menu-social-list{
  justify-content: space-between;
}

/*#endregion*/
/*#region modal */
.modal-overley {
  padding: 8px 16px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  background: rgba(46, 47, 66, 0.4);
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.modal {
  position: relative;
  width: 320px;
  height: 640px;
  padding: 72px 16px 36px;
  background-color: #fff;
  border-radius: 4px;
}
.modal-button {
  background-color: #e7e9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover {
  background-color: #404bbf;
  border-color: #404bbf;
  fill: white;
}
.modal-button-icon {
}
.modal-button-use {
}
.modal-text {
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.modal-wraper {
}
.modal-form {
  margin-bottom: 21px;
}
.modal-form-labler {
}
.modal-form-text {
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
}
.modal-form-input {
  padding-left: 34px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
}
.modal-form-input:active {
  fill: #404bbf;
  outline: none;
  border: 1px solid #4d5ae5;
}
.text-area {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
}
.modul-form-textarea {
}

.model-form-wrap {
  margin-top: 4px;
  margin-bottom: 8px;
  position: relative;
}
.model-form-wrap:active {
  fill: #404bbf;
}

.modal-form-textarea {
  margin-top: 4px;
  margin-bottom: 16px;
}

.modal-form-icons {
  top: 50%;
  left: 16px;
  position: absolute;
  transform: translateY(-50%);
}

.modal-form-labler {
  display: inline-flex;
  position: relative;
  align-items: center;
  gap: 8px;
}

.modal-form-container {
}

.modal-form-link {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.modal-form-chekbox {
  appearance: none;
  min-width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0;
  transition-property: background-size;
  transition: 320ms ease-in;
  background-image: url("data:image/svg+xml,%3Csvg width='2' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.44558 0.255056C8.61838 0.089653 8.84834 -0.00178848 9.08693 2.65108e-05C9.32551 0.0018415 9.55407 0.0967713 9.72436 0.264784C9.89466 0.432797 9.99337 0.660752 9.99968 0.900549C10.006 1.14034 9.91939 1.37323 9.75816 1.55005L4.86357 7.70436C4.7794 7.79551 4.67782 7.86865 4.5649 7.91942C4.45198 7.97018 4.33003 7.99754 4.20636 7.99984C4.08268 8.00214 3.95981 7.97935 3.8451 7.93282C3.73038 7.88629 3.62618 7.81698 3.53872 7.72903L0.292827 4.46564C0.202435 4.38096 0.129933 4.27884 0.0796475 4.16537C0.0293621 4.05191 0.00232279 3.92942 0.000143182 3.80522C-0.00203643 3.68102 0.0206883 3.55765 0.0669613 3.44248C0.113234 3.3273 0.182108 3.22267 0.269473 3.13483C0.356838 3.047 0.460905 2.97775 0.575465 2.93123C0.690026 2.88471 0.812734 2.86186 0.936267 2.86405C1.0598 2.86624 1.18163 2.89343 1.29449 2.94398C1.40734 2.99454 1.50892 3.06743 1.59315 3.15831L4.16189 5.73967L8.42227 0.28219C8.42994 0.272694 8.43813 0.263635 8.4468 0.255056H8.44558Z' fill='%23F4F4FD'/%3E%3C/svg%3E%0A");
}
.modal-form-chekbox:checked {
  background-size: 100%;
  background-color: #404bbf;
}
.modal-form-button {
  display: block;
  margin: auto;
}
/*#endregion modal*/
